@import "src/view/styles/variables.scss";

.recipeView {
  padding: 0.5em;
  max-width: 1600px;
  margin: 0 auto;

  @media (min-width: $screen-md) {
    padding: 2em;
  }
}

.spinnerContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
