@import "src/view/styles/variables.scss";

.forcastGrid {
  margin-top: 0.5em;

  .forcastItem {
    background: $white;
    border-radius: 3px;
    padding: 1em;

    img {
      width: 3em;
      margin: 0 auto;
      display: block;
    }

    p {
      text-align: center;
      margin: 0;
      font-size: $font-xs;
    }
  }
}
