@import "src/view/styles/variables.scss";

.ingredientsContainer {
  .ingredientsList {
    padding: 1.5em;
    border-radius: 10px;
    background-color: $white;

    .ingredientsItem {
      p {
        font-size: $font-xs;
        font-weight: $font-medium;
        margin: 0;
      }
    }

    h4 {
      margin-top: 0;
      margin-bottom: 0.75em;
      font-size: $font-lg;
      font-weight: $font-regular;
    }
  }

  .instructions {
    padding: 1.5em;
    border-radius: 10px;
    background-color: $white;

    p {
      font-weight: $font-medium;
    }

    h4 {
      margin-bottom: 0.75em;
      margin-top: 0;
      font-size: $font-lg;
      font-weight: $font-regular;
    }
  }
}
